@import "github-dark.css";
@import "github.css";

:root {
  /* Usmael A theme (indigo/purple) */
  --primary: oklch(0.96 0.03 280); /* light indigo */
  --secondary: oklch(0.93 0.12 280);
  --highlight: oklch(62.421% 0.15483 152.607);

  --lesson-text: rgb(8, 8, 8);

  --text-header: var(--primary);
  --text-main-headers: var(--highlight);
  --text-links: oklch(0.7137 0.1434 254.624);
  --text-footer: var(--highlight);

  --bg-main: white;
  --bg-dots: var(--highlight);
  --bg-lesson: white;
  --bg-footer: var(--primary);

  --nav-buttons: var(--highlight);
  --nav-buttons-text: white;
  --nav-buttons-text-hover: white;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: var(--highlight);
  --footer-icons: var(--highlight);

  --emphasized-bg: oklch(0.985 0.01 280);
  --emphasized-border: oklch(0.8 0.05 280);

  --code-bg: var(--emphasized-bg);
  --code-border: var(--emphasized-border);
  --code-text: oklch(from var(--lesson-text) calc(l + 0.25) c h);
}

[data-theme="dark"] {
  --primary: oklch(0.96 0.03 280);
  --secondary: oklch(0.22 0.16 240);
  --highlight: #2cd8ff;

  --text-header: var(--primary);
  --text-main-headers: var(--highlight);
  --text-links: #2cd8ff;
  --text-footer: var(--highlight);

  --lesson-text: oklch(0.85 0.01 0);

  --bg-main: oklch(0.12 0.01 240);
  --bg-dots: var(--highlight);
  --bg-lesson: oklch(0.18 0.02 240);
  --bg-footer: black;
  --nav-buttons: var(--highlight);
  --nav-buttons-text: oklch(0.08 0.02 240);
  --nav-buttons-text-hover: var(--primary);

  --corner-active: var(--highlight);
  --corner-inactive: oklch(0.2 0.01 240);
  --icons: var(--highlight);
  --footer-icons: var(--highlight);

  --emphasized-bg: oklch(0.2 0.06 240);
  --emphasized-border: oklch(0.35 0.1 240);

  --code-bg: #0d1117;
  --code-border: var(--emphasized-border);
  --code-text: oklch(from var(--lesson-text) calc(l - 0.2) c h);
}

.lesson-title {
  color: var(--highlight);
}

.lesson-section-title {
  color: var(--primary);
}

.terms {
  color: var(--highlight);
}

li {
  /* color: var(--highlight); */
}
